body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #151515;
}

*{
    padding: 0; border: 0; margin: 0; 
    box-sizing: border-box;
    list-style-type: none; /* Styled in normalize.css */
    text-decoration: none;
    color: #ccc;
}



.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 1550px;
    padding-top: .5rem;
    width: 93%;

}

.main-header a{
    font-size: 50px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: 'Rammetto One', sans-serif;   
     color: #151515;
     text-decoration: underline;

    
}

.masthead{
    /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
    position: relative;
    z-index: 1000;
    /********************************/
    top: 0;
    left: 0;
    width: 100%;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.masthead h1{
    transition-delay: 450ms;
    color: #C5B358;
}

.menu-toggle{
    cursor: pointer;
    width: 55px;
    z-index: 3;
}

.menu-toggle div{
    background-color:  #C5B358;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two{
    margin-bottom: 7px;
}

.main-contents{
    flex: auto;
}

.main-contents h2{
    letter-spacing: 1.5px;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.main-contents p{
    font-size: 1.1rem;
    letter-spacing: 1.7px;
    line-height: 1.35;
         color: #C5B358;
         transition-delay: 150ms;
         transition-duration: 850ms;
}

/*** Just getting silly now ***************************/
.main-footer span{
/*      color: #ccc; */
     transition-delay: 150ms;
     transition-duration: 1350ms;
}

/*********************************************/


/************* Style and animate the nav overlay ***********************/
.main-nav-list::before,
.main-nav-list::after{
    background-color:#C5B358;
    content:"";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before{
    left: 0;
}
.main-nav-list::after{
    right: 0;
}

.main-nav-list ul{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 2000;
}

.main-nav-list a{
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transition-delay: 130ms;
    color:#C5B358;
}

.main-nav-list .mobile-hide{/** Hide the link when viewing site on mobile devices. **/
    display: none;
}

/************* Style the nav elements when active. ***********************/
.masthead.active h1{
    text-shadow: 0px 3px 3px #151515;
}


.menu-toggle.active .one{
    box-shadow: 0px 3px 13px #C5B358;
    transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two{
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-55px);
}

.menu-toggle.active .three{
    box-shadow: 0px 3px 13px #151515;
    transform: translate(0,-14px) rotate(-45deg);
}

.main-nav-list.active::before,
.main-nav-list.active::after{
    width: 25vw;
/*     transition-duration: 1000ms; */
}
.main-nav-list.active ul{
    top: 50%;
    transform: translate(-50%,-50%);
    transition-delay: 560ms;
    transition-duration: 240ms;
    transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list.active a{
    transition-delay: 600ms;
    opacity: 1;
}


/*** Just getting silly now ***************************/
.wrapper.active p{
     color: #C5B358;
               transition-delay: 150ms;
     transition-duration: 350ms;
}


.container-wrapper {

}

.container-wrapper--gold {
background-color: #C5B358;;
color: white;
}

.alert-container .col-12 {
padding-left: 0;
padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #C5B358;;
    border-color: #C5B358;;
}

#hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 0px;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0,5);
}

quotes-container {

}



/* Page Headers */

.page-header {
margin-bottom: 0;
border-bottom: 0;
text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block Divider*/

.block-divider {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #C5B358;
}




/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}
/* NAVBAR */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  border: 10px solid #C5B358;
}

.navbar-brand {
    color: #151515;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

nav a:hover {
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
}


.navbar-custom {
    background-color: #C5B358;
}

.nav-item {
    color: #151515;
    float: right;
}

.navbar .navbar-brand {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Rammetto One', sans-serif;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: auto;
    align-content: left;
    padding-right: 15px;
}

.fa-bars {
    margin: auto;

}

.navbar-nav .nav-item {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

 .navbar-collapse {
     background-color: #C5B358;
 }

 .sonny-pic {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 40px;

 }

 .fab {
     color: #C5B358;
 }

 .sold {
     color: red;
 }

 .dog-info {
     list-style-type: none;
     text-align: center;
     font-size: 20px;
     font-family: 'Rammetto One', sans-serif;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 6px;
     margin-left: auto;
     margin-right: auto;
     padding-right: 30px;
 }

 .our-dogs {
     font-size: 50px;
     letter-spacing: 1px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: 'Rammetto One', sans-serif;
     color: #C5B358;
     text-align: center;
 }

 .list-inline-item {
     color: #C5B358;
 }

 .sign-up-message {
     font-size: 25px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: 'Rammetto One', sans-serif;
     color: #C5B358;
 }
 
 .dog-name {
     text-align: center;
     font-family: 'Ceviche One', sans-serif;
     font-size: 60px;
     font-weight: bold;
     letter-spacing: 3px;
     color: #C5B358;

 }

 .our-dogs-home {
  font-size: 50px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: 'Rammetto One', sans-serif;   
     color: #C5B358;
 }
 /* NAVBAR */

 .container-wrapper {
     padding-top: 50px;
 }

/* Buttons */
.company-logo {
    padding-bottom: 40px;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width:  160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #C5B358;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.fa-tint {
    color: 	#DC143C;
}

.fa-heartbeat {
    color: 	#DC143C;
}

.fa-address-card {
    color: #DC143C;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #e8b00a;

}

.list-inline-item {
    color: #926321;
}

.footer-copyright {
    color: #C5B358;
    font-weight: bold;
    font-size: 15px;
}

.contact-form {
    padding: 50px;
    margin: 30px 0;
}

.contact-form .form-control, .contact-form .btn {
    min-height: 38px;
    border-radius: 2px;
}
.contact-form .form-control:focus {
    border-color: #19bc9d;
}
.contact-form .btn-primary, .contact-form .btn-primary:active {
    color: #151515;
    min-width: 150px;
    font-size: 16px;
    background: #C5B358; !important;
    border: none;
}
.contact-form .btn-primary:hover {
    background: #926321; !important; 
}
.contact-form .btn i {
    margin-right: 5px;
}
.contact-form label {
    opacity: 0.7;
}
.contact-form textarea {
    resize: vertical;
}  

.form-group {
font-size: 18px;
font-weight: bold;
color: #C5B358;
text-transform: uppercase;
}

@media screen and (max-width: 320px){
.our-dogs{
    text-align:center !important;
    
}

}